.profile__add-btn {
    margin-left: auto;
    width: 148px;
    height: 48px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}

.profile__add-btn:hover {
    opacity: .6;
}


@media(max-width: 650px) {
    .profile__add-btn {
        width: 100%;
        height: 50px;
    }
}